.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .invite-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;

    .invite {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
      box-shadow: 0 0 6px 0 rgba(240,85,85,.6);
      padding: 10px;
      padding-left: 30px;
      align-items: center;

      .invite-controls {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
