.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .room-header {
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px dashed #F09B55;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);
    -moz-box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);
    box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);

    &.active-room {
      justify-content: space-between;
    }
  }


  .talk {
    display: flex;
    width: 100%;
    height: 100%;

    .message-box {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .messages {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        
        .error-alert {
          position: absolute;
          top: 0;
          width: 100%;
          text-align: center;
          background-color: #B00100;
          color: #fff
        }

        .message {
          padding: 5px;
          padding-left: 10px;
          margin: 10px;
          background-color: white;
          max-width: 300px;
          font-size: 12px;
          border-radius: 3px;
          -webkit-box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);
          -moz-box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);
          box-shadow: 3px 3px 10px 0 rgba(0,0,0,.3);

          &.error-state {
            border: 1px solid #B00100;
          }

          .error-flag {
            display: flex;
            top: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            position: absolute;
            visibility: hidden;
            height: 100%;
            z-index: -1000;
            cursor: pointer;
          }
        }

        .partner-message {
          width: 100%;
          display: flex;
          justify-content: flex-start;
          text-align: left;

          .sender, .sended {
            align-self: flex-start;
          }
        }

        .self-message {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          text-align: right;


          .sender, .sended {
            align-self: flex-end;
          }

          .message {
            position: relative;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s;


            &:hover {
              z-index: 1000;
              -webkit-transform: translateX(-24px);
              -moz-transform: translateX(-24px);
              -ms-transform: translateX(-24px);
              -o-transform: translateX(-24px);
              transform: translateX(-24px);

              .delete-but {
                -webkit-transform: translateX(24px);
                -moz-transform: translateX(24px);
                -ms-transform: translateX(24px);
                -o-transform: translateX(24px);
                transform: translateX(24px);
                visibility: visible;
              }

              .error-flag {
                -webkit-transform: translateX(-24px);
                -moz-transform: translateX(-24px);
                -ms-transform: translateX(-24px);
                -o-transform: translateX(-24px);
                transform: translateX(-24px);
                visibility: visible;
              }
            }

            .delete-but {
              display: flex;
              top: 0;
              right: 0;
              justify-content: center;
              align-items: center;
              position: absolute;
              visibility: hidden;
              height: 100%;
              z-index: -1000;
              cursor: pointer;
            }
          }
        }

        .message {
          display: flex;
          flex-direction: column;
        }

        .sender, .sended {
          color: #999999;
          font-size: 10px;
        }
      }

      .send-box {
        width: 100%;
        min-height: 100px;
        max-height: 100px;
        background: linear-gradient(144deg, rgba(255,255,255,1) 14%, rgba(240,85,85,1) 100%, rgba(240,85,85,1) 100%);        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 15px;
        box-sizing: border-box;
        -webkit-box-shadow: -3px 0 10px 0 rgba(0,0,0,.3);
        -moz-box-shadow: -3px 0 10px 0 rgba(0,0,0,.3);
        box-shadow: -3px 0 10px 0 rgba(0,0,0,.3);

        &.messages {
          justify-content: center;
          background: #fff;
          border-top: 2px dashed #F09B55;
          overflow: hidden;

          div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 300px;
            border: 1px solid #000;
            padding: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 10px;

            input, button {
              box-sizing: border-box;
              background-color: transparent;
              border: none;
              height: 100%;
              display: flex;
              outline: none;
            }

            input {
              width: 100%;
              padding-left: 15px;
              padding-right: 15px;
              font-size: 15px;
            }

            button {
              width: 35px;
              color: #C0448A;
              cursor: pointer;
            }
          }

        }

        .inputs {
          display: flex;

          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          input, .icon {
            background-color: #fff;
            border: none;
            outline: none;
            padding: 5px 10px;
            box-sizing: border-box;
          }

          input {
            width: 250px;
            font-size: 12px;
          }
        }
      }
    }
  }

  .room-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    .room-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .room-card {
        width: 200px;
        height: 100px;
        margin: 20px;
        box-shadow: 0 0 6px 0 rgba(240,85,85,.6);
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 10px;
        align-items: center;
        justify-content: center;

        .edit-card {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;

          .edit-fields {
            display: flex;
            justify-content: center;
            align-items: center;

            input {
              padding-left: 10px;
              box-sizing: border-box;
              height: 25px;
              margin: 5px;
            }
          }
        }

        &.info {
          height: 100%;
          margin: 0;
          z-index: 100;
          background-color: #fff;
          text-decoration: none;
          color: #C0448A;
        }

        &.with-room {
          position: relative;
          padding: 0;

          .unread {
            position: absolute;
            z-index: 101;
            font-size: 12px;
            top: 3px;
            right: 3px;
            color: rgb(240,85,85);
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &:hover .control-pop-up {
            transform: translateY(25px);
          }

          .control-pop-up {
            z-index: 50;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            position: absolute;
            bottom: 0;
            width: 100%;
            -webkit-transition: .3s;
            -moz-transition: .3s;
            -ms-transition: .3s;
            -o-transition: .3s;
            transition: .3s;
          }
        }

        .new-card-fields {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        h2, p {
          margin: 5px;
        }
      }
    }
  }
}